img {
  float:left;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 50%;
    width: 30vw;
  }
  .before {
    width: 30vw;
    float: left;
    
  }
  .middle {
    width: 30vw;
    float: center;
  }
  .after {
    width: 30vw;x;
    float: center;
  }